@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import "Loader/loader.css";

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.text-center {
    text-align: center;
}

.card-img-top {
    width: 30%;
    margin: auto;
}
.temperature {
    font-size: 30px;
    font-weight: 900;
}
.day {
    display: flex;
    align-items: center;
}
/*Global*/
